@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap");
@import "tailwindcss";

@theme {

  --font-bic: "Noto Sans Lao", "sans-serif";
  /* --font-la: "Noto Sans Lao", "sans-serif"; */
  /* --font-en: "Arial", "Helvetica", "sans-serif"; */

  --color-bic-bg: #F5F5F5;
  --color-bic-navy: #1C2D59;
  --color-bic-navy-light: #2A3D70;
  --color-bic-navy-dark: #0F1D40;
  --color-bic-red: #E03C31;
  --color-bic-red-light: #E85A51;
  --color-bic-red-dark: #C22A20;
}